version: '3.8'

services:
  # Infrastructure (using existing images)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - bridge

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    restart: always
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_HOURS: 168
    ports:
      - "9092:9092"
    networks:
      bridge:
        aliases:
          - kafka

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5438:5432"
    networks:
      - bridge

  # Microservices
  api-gateway:
    build:
      context: .
      dockerfile: docker/ApiGateway.Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - user-service
      - item-service
      - delivery-service
    networks:
      - bridge

  user-service:
    build:
      context: .
      dockerfile: docker/UserService.Dockerfile
    ports:
      - "5001:80"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=logistic_users;Username=postgres;Password=postgres
      - Kafka__BootstrapServers=kafka:9092
    networks:
      - bridge

  item-service:
    build:
      context: .
      dockerfile: docker/ItemService.Dockerfile
    ports:
      - "5002:80"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=logistic_items;Username=postgres;Password=postgres
      - ConnectionStrings__Kafka=kafka:9092
    networks:
      - bridge

  delivery-service:
    build:
      context: .
      dockerfile: docker/ItemService.Dockerfile
    ports:
      - "5003:80"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=logistic_deliveries;Username=postgres;Password=postgres
      - ConnectionStrings__Kafka=kafka:9092
    networks:
      - bridge

  notification-service:
    build:
      context: .
      dockerfile: docker/NotificationService.Dockerfile
    ports:
      - "5004:80"
    environment:
      - ConnectionStrings__Kafka=kafka:9092
    networks:
      - bridge

networks:
  bridge:
    driver: bridge